#register-container {
    width: 100%;
    height: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}
.register-page{
    width : 40%;
    background-color: #D0E5F1;
    padding : 20px 40px;
}

.offscreen {
    position : absolute;
    left : -9999px;
}
.hide {
    display: none;
}

#submit{
    margin-top: 15px;
    justify-self: center;
}